@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <h2>
        <span class="error">Erro no processamento da página solicitada</span>
    </h2>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>
    <input type="button" value="Voltar" class="button" onclick="javascript:history.go(-1);" />
    </p>